quarkus:
  http:
    port: 9090
  datasource:
    url: jdbc:postgresql://${POSTGRES_DB_HOST:localhost}/${QUARKUS_TODO_DB:quarkus_todo}
    driver: org.postgresql.Driver
    username: ${POSTGRES_USER:admin}
    password: ${POSTGRES_PASSWORD:admin}
    max-size: 8
    min-size: 2
  hibernate-orm:
    database:
      generation: drop-and-create

"%prod":
  quarkus:
    hibernate-orm:
      sql-load-script: import.sql
