scrape_configs:
  - job_name: spring-todo-app
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['spring-todo-app:8090']
  - job_name: quarkus-todo-app-jvm
    scrape_interval: 5s
    static_configs:
        - targets: ['quarkus-todo-app-jvm:8091']